* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

header {
    padding: 40px;
    text-align: center;
    background: #13293d;
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

h2 {
    margin: 0 0 10% 0;
    /*text-align: center;*/
    background: #13293d;
    color: #fff;
}

ul {
    max-width: 400px;
    margin: 5% 0;
    display: block;
}

.teammates {
    flex: 4;
    background-color: #dcdcdc;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* Box-shadow, border-radius */
.card {
    border-style: groove;
    background-color: #c9cdd1;
    border-width: 1px;
    /*border-radius: 50px;*/
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
}

/* Added border-radius to match the card */
.card h2 {
    /*border-radius: 50px;*/
    /*padding: 20px;*/
    text-align: left;
    padding: 20px 20px 5px 20px;
}

.card p {
    text-align: left;
    /*text-align: center;*/
}

*/ @media screen and (max-width: 768px) {

    main,
    nav {
        flex-direction: column;
    }
}